body {
    margin: 0px;
    font-family: 'Gotu', sans-serif;
}

section {
    padding: 15px;
}
.hed-price{
    border: 1px solid gold;
    border-radius: 10px;
}

.hed-price p{
    text-align: center;
    font-weight: bold;
    color: orangered;
    padding: 10;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: gold;
}

h4 {
    text-align: center;
    font-weight: bold;
    color: orangered;
    padding: 15;
}

h3 {
    text-align: center;
    font-weight: bold;
    color: gold;
    font-size:16px;
}

input {
    text-align: center;
    border: 8px;
    padding: 20px;
    border-radius: 10px;
    border-color: gold;
}

button {
    text-align: center;
    border: 8px;
    padding: 20px;
    border-radius: 10px;
    border-color: gold;
}

.submit {
    text-align: center;
    background-color: gray;
}

.display-date {
    text-align: center;
    color: orangered;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.info {
    display: flex;
    text-align: center;
    font-weight: bold;
}
.info-1{
    width: 30%;
    background-color: gold;
    
}
.info-1 img{
    width: 100px;
    
}
.info-2{
    width: 40%;
    background-color: gold;
}
.info-3{
    width: 30%;
    background-color: gold;
}
.info-3 img{
    width: 100px;
}

hr {
    width: 400px;
    color: red;
}

.price-cal {
    border: 1px solid gray;
    width: 480px;
}

@media only screen and (max-width: 700px) {
    body {
        padding: 25px;
    }
    .price-cal {
        border: 2px solid gold;
        width: auto;
        text-align: center;
    }
    img {
        width: auto;
    }
}
@media only screen and (max-width: 700px) {
    .info{
        display: unset;
             
    }
    .info-1{
        width: 100%;
             
    }
    .info-2{
        width: 100%;
        
    }
    .info-3{
        width: 100%;
        
    }
  }